table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    font-family: monospace;
    border-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}